<div class="container">
  <div class="row">

    <div class="col-md-12 my-5">
      <center>
        <h1>About</h1>
          <p>
            Capsuler（かぷせらー）は</br>
            ついつい回してしまうカプセルトイ（ガチャガチャ）の魅力を</br>
            共有する場所です。</br>
            今ではいろいろなカプセルトイがありますが、</br>
            みんなが回して出てきたそのカプセルトイはもしかしたら一期一会。</br>
            どうして回したのか、なにに惹かれたのかその時の感情や</br>
            そのカプセルトイのお気に入りポイントなど、</br>
            ぜひ共有してください♪
          </p>
      </center>

    </div>
  </div>
</div>

