<div class="container">
  <div class="row">

    <div class="col-md-12 my-5">
      <div class="col-md-12 my-3"><%= flash[:notice] %></div>
      <div>
        <p>

          Capsulerへようこそ！</br>
          ここではついつい回してしまったカプセルトイ（ガチャガチャ）を公開したり、</br>
          いいね！をしたり、コメントをしたり…</br>
          小さなときめきを共有し合う場所です(o^―^o)</br>

        </p>
      </div>

    </div>
  </div>
</div>

