@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.rating{
  display: flex;

  img{
    width:60px;
  }
}

.index-rating{
  display: flex;

  img{
    width:40px;
  }
}

.map {
  height: 200px;
  width: 300px;
}