@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

.gacha-sidebar{
  background-color: #e5f2ff;
}

.rating{
  display: flex;

  img{
    width:60px;
  }
}

.index-rating{
  display: flex;

  img{
    width:40px;
  }
}

#map {
  height: 300px;
  width: 400px;
}